@import "bourbon/bourbon";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Lato);

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -5000;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -5000;
}

.picture {
  width: 90%;
  position: relative;
  z-index:0;
  text-align:center;
  margin: 0 auto;
  margin-top: 5vh;
  padding:10%;
  padding-top:20%;
  img {
    width:15vw;
    height:auto;
    position:absolute;
    top:0;
    right:0;
    left:0;
    z-index:1;
    text-align:center;
    margin: 0 auto;
  }
  .trapezoid {
    width: 88vw;
    opacity: .2;
    position:absolute;
    z-index:0;
    margin: 0 auto;
    text-align:center;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-bottom: 65vw solid #B0BBCE;
    border-left: 40vw solid transparent;
    border-right: 40vw solid transparent;
    transform: rotate(0deg);
  }
  .frame {
    border-top: 8px solid #6D5841;
    border-right: 8px solid #6D5841;
    border-bottom: 8px solid #6D5841;
    border-left: 8px solid #6D5841;
    box-shadow: 4px 4px 0 0 rgba(189,166,72,0.6);
    position:relative;
    width:100%;
    height:auto;
    a {
      width: 100%;
      height:auto;
    }
    #corners {
      width:100%;
      height:auto;
      pointer-events:none;
    }

    /*     .arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
    position:absolute;
    z-index: 5;
    transform: rotate(315deg);
  }
  .arrow-left {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
  position:absolute;
  z-index: 5;
  transform: rotate(225deg);
} */

.screen {
  width:100%;
  background: linear-gradient(149deg, 0,0,128,.8);
  border: 10px solid #fff;
  box-shadow: 1px 1px 1px 1px rgba(189,193,194,0.3) inset;
  .img {
    position:relative;
  }
  .description {
    display:none;
    position:absolute;
    text-align:center;
    margin:auto;
    width: 65vw;
    opacity:1;
    h2 {
      font-family: 'Lato', sans-serif;
      color:white;
      text-align:center;
    }
    p {
      font-family: "kulturista-web";
      color:white;
      text-align:center;
      width:80%;
      margin: 0 auto;
    }
    a {
      font-family: "kulturista-web";
      color:white;
      cursor:pointer;

    }
  }
  img {
    width:100%;
    height:auto;
    position:relative;
  }
  .vid {
    width:100%;
    height:auto;
    position:relative;
    .description {
      display:none;
      h4 {
        font-family: 'Lato', sans-serif;
      }
      p {
        font-family: "kulturista-web";
      }
    }
    video {
      width:100%;
      height:auto;
      &:hover {
        background: linear-gradient(149deg, #d3d4d5 0%,#d3d4d5 50%,#ccc 51%,#ccc 100%);
      }
    }
  }
}
}
}

////////LINDSAYS CODE///////////
///////////////////////////////
.media {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.media_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;

}

.media_body {
  background: rgba(129, 140, 144, 0.8);
  color: white;
  font-size: 1em;
  opacity: 0;
  overflow: hidden;
  padding: 30px;
  text-align: center;
  transition: 0.6s;
  bottom: 0;
  z-index: 1;
  position: absolute;
  height:100%;
  @include transition(0.6s);
  &:hover {
    opacity: 1;
  }
  h2 {
    margin-top: 0;
  }
  p {
    margin-bottom: 10px;
    font-family: "kulturista-web";
  }
  a {
    margin: 10px;
    cursor:pointer;
  }
}


///////////////////////////////
///////////////////////////////



header {
  height: 70vh;
  background-color: #2D4369;
  position:relative;
  @include media(min-width 375px max-width 667px) {
    height:20vh;
  }
  body {
    background-color: #4e4e4e;
    margin:0;
    text-align: center;
    font-size: 10px;
  }

  .lamp {
    width: 9%;
    display: inline-block;
    margin-left:20%;
    transform-origin: top center;
    transform:rotate(45deg);
    @include animation(lamp 3s forwards);
  }

  .bulb {
    fill:#FBF8CA;
    fill-opacity:0.1;
    @include animation(bulb .3s .3s 5 cubic-bezier(.26,1.17,.89,-0.74) alternate forwards);
  }


  .switch {
    transition:transform .3s;
    &:active{
      transform:translateY(5px);
    }
  }


  @include keyframes(bulb) {
    to {
      fill-opacity:1;
      fill:#FBF8CA;
    }
  }

  @include keyframes(lamp) {
    5%{ transform:rotate(-45deg) }
    10%{ transform:rotate(35deg) }
    15%{ transform:rotate(-35deg) }
    25%{ transform:rotate(15deg) }
    40%{ transform:rotate(-15deg) }
    65% { transform:rotate(3deg) }
    85% { transform:rotate(-1deg) }
    100%{ transform:rotate(0deg) }
  }

  @include keyframes(drop) {
    0%{ transform:translateY(-500px) }
    100%{ transform:translateY(0px) }
  }


  .navigation-wrapper {
    width:100%;
    .logo {
      float:left;
      border:solid 4px #6D5841;
      font-family: 'Lato', sans-serif;
      padding: 1%;
      width:50px;
      height:50px;
      color: white;
      font-size:12px;
      text-align:center;
      margin-top:1%;
      margin-left:1%;
    }
    ul {
      float: right;
      width:auto;
      padding-left:0;
      li {
        display: inline-block;
        list-style-type:none;
        padding: 2%;
        &:hover {
          background-color:#FBF8CA;
          a {
            color: #2D4369;
          }
        }
        a {
          text-decoration:none;
          font-family: 'Lato', sans-serif;
          font-size:2.5vh;
          color: white;
          letter-spacing:.2em;
        }
      }
    }
  }
  .inner {
    $base-border-radius: 3px !default;
    $large-screen: em(860) !default;
    position: absolute;
    top:60%;
    height:12vh;
    padding-left:5%;
    margin-top:-6vh;
    p {
      font-size: 4vh;
      margin: 0 auto;
      font-family: "kulturista-web";
      font-weight:100;
      color: white;
      span {
        font-weight: bold;
        opacity:0;
        @include animation(appear);
        @include animation-delay(1.9s);
        @include animation-fill-mode(forwards);
      }
      @include media($large-screen) {
        font-size:5vh;
      }
    }
  }
}

@include keyframes(appear) {
  0%   { opacity: 0; }
  100% { opacity: 1;
    @include animation-timing-function(steps(1, end));
  }
}




.wrapper {
  @include outer-container;
  position:relative;
  margin: 10vh;
  margin-top:0;
  .wrapper2 {
    @include span-columns(12);
    .about {
      @include span-columns(12);
      margin-bottom: 8vh;
      padding:20px;
      background-image:url("brownblock.jpg");
      background-size:cover;
      background-position: center;
      color: white;
      .bio {
        color: white;
        /* .trapezoid2 {
        width: 150px;  height: 0px;
        margin: 0 auto 0 auto;
        margin-left:22%;
        margin-right:60%;
        border-bottom: 200px solid #856B4F;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        transform: rotate(180deg);
        z-index:-1000;
      } */
    }

  }
  .photo {
    @include span-columns(3);
    img {
      width:100%;
      border: 12px solid #EFEFEF;
    }
  }
  .bio {
    @include span-columns(9);
    font-family: "kulturista-web";
    background-size:cover;
    color: #2D4369;
  }


  .work {
    h2 {
      @include span-columns(12);
      font-family: 'Lato', sans-serif;
      color: #6D5841;
    }
    .first {
      @include span-columns(12);
      padding:20px;
      background-color:#2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #FBF8CA;
        article {
          color: #2D4369;
        }

      }
      .photo {
        @include span-columns(5);
        video {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(7);
        font-family: "kulturista-web";
        color:white;
      }
    }
    .second {
      @include span-columns(12);
      padding:20px;
      background-color: #2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #6EA3FF;
        color: white;
      }
      .photo {
        @include span-columns(4);
        img {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(8);
        font-family: "kulturista-web";
        color:white;
      }
    }
    .third {
      @include span-columns(12);
      padding:20px;
      background-color: #2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #6EA3FF;
        color: white;
      }
      .photo {
        @include span-columns(4);
        img {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(8);
        font-family: "kulturista-web";
        color:white;
      }
    }
  }
}
}
