@import "bourbon/bourbon";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Lato);

//BACKGROUND IMAGE
/* #bg {
  position: scroll;
  background-size:cover;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -5000;
}
#bg img {
  position: absolute;
  background-repeat:no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -5000;
} */
html {
  background: url(library3dark.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


//HEADER

header {
  height: 70vh;
  background-color: #2D4369;
  position:relative;

  body {
    background-color: #4e4e4e;
    margin:0;
    text-align: center;
    font-size: 10px;
  }

  .modal {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-font-size: 1em !default;
    $base-line-height: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: em(640) !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;
    $modal-padding: 3em;
    $modal-background: $base-background-color;
    $modal-close-color: $light-gray;
    $modal-image-height: 135px;
    $modal-image-width: $modal-image-height;
    $modal-trigger-image-width: 300px;
    width:12vw;
    display:inline-block;
    label {
      cursor: pointer;
      margin-bottom: 0;
    }

    label img {
      border-radius: $modal-trigger-image-width / 2;
      display: block;
      max-width: $modal-trigger-image-width;
    }

    .modal-state {
      display: none;
    }

    .modal-trigger {
      @include button(flat #FBF8CA);
      display:inline-block;
      background-color: #2D4369;
      color:white;
      padding: 6%;
      font-family: "Lato", sans-serif;
      font-size:1.2vw;
      border: 3px solid #6D5841;
      margin-top:7%;
      margin-right:10%;

      border-radius:10%;
      width:10vw;
      text-align:center;
      &:hover {
        background-color:#FBF8CA;
        color:#2D4369;
      }

    }

    .modal-fade-screen { // overlay
      @include transition(opacity 0.25s ease);
      @include position(fixed, 0px 0px 0px 0px);
      background: rgba(0,0,0, 0.85);
      opacity: 0;
      padding-top: 0.6em;
      text-align: left;
      visibility: hidden;
      z-index: 99999999999;

      @include media($large-screen) {
        padding-top: 10em;
      }

      .modal-bg {
        @include position(absolute, 0px 0px 0px 0px);
        cursor: pointer;
      }
    }

    .modal-close {
      @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
      @include size(1.5em);
      background: $modal-background;
      cursor: pointer;

      &:after,
      &:before {
        @include position(absolute, 3px 3px 0 50%);
        @include transform(rotate(45deg));
        @include size(0.15em 1.5em);
        background: $modal-close-color;
        content: '';
        display: block;
        margin: -3px 0 0 -1px;
      }

      &:hover:after,
      &:hover:before {
        background: darken($modal-close-color, 10%);
      }

      &:before {
        @include transform(rotate(-45deg));
      }
    }

    .modal-inner {
      @include transition(opacity 0.25s ease);
      background: $modal-background;
      margin-top: 0;
      margin: auto;
      max-height: 95%;
      overflow: auto;
      padding: $modal-padding / 2;
      position: relative;
      width: 95%;

      @include media($medium-screen) {
        max-height: 70%;
        padding: $modal-padding;
        width: 60%;
      }

      @include media($large-screen) {
        width: 50%;
      }

      h1 {
        color: $base-font-color;
        margin-bottom: 0 0 0.6em 0;
        text-align: left;
        text-transform: capitalize;
      }

      p {
        color: $base-font-color;
        line-height: $base-line-height;
      }

      .modal-intro {
        font-weight: 800;
      }

      .modal-content {
        color: $base-font-color;
          h1 {
            font-family: "Lato", sans-serif;
            text-align:center;
            color: #6D5841;
          }
          p.catcher {
            font-family: "kulturista-web";
            span {
              font-style:italic;
            }
          }
          p.about {
            font-weight:100;
            border:none;
          }
          ul {
            text-align:center;
            li {
              display:inline-block;
              list-style-type:none;
              padding: 7%;
              font-family: "kulturista-web";
              font-size:1.5vw;
              color: #2D4369;
              cursor:pointer;
              i {
                padding:4%;
                font-size:4vw;
                border-radius:10%;
                display:block;
                cursor:pointer;
                &:hover {
                  background-color: #FBF8CA;
                  color:#2D4369;
                  cursor:pointer;
                }
              }
            }
          }
        }

      a.cta {
        color: white;
        display: inline-block;
        margin-right: 0.5em;
        margin-top: 1em;

        &:last-child {
          padding: 0 2em;
        }
      }
    }

    .modal-state:checked + .modal-fade-screen {
      opacity: 1;
      visibility: visible;
    }

    .modal-state:checked + .modal-fade-screen .modal-inner {
      top: 0.5em;
    }
  }

  .modal-open {
    overflow: hidden;
  }

//STALK BUTTONS

.stalk {
  float:right;
  text-align:right;
  margin-top:0;
  color:white;
  padding:1%;
  width:38vw;
  display:inline-block;
  p {
    font-family: "Lato", sans-serif;
    font-size:1.2vw;
    border:3px solid #6D5841;
    border-radius: 10%;
    display:inline-block;
    padding:4%;
  }

}



//SWINGING LAMP

  .lamp {
    width: 8vw;
    height:35vh;
    display: inline-block;
    margin-left:26vw;
    @include transform-origin(top center);
    @include transform(rotate(45deg));
    @include animation(lamp 3s forwards);
    position:absolute;
  }

  .bulb {
    fill:#FBF8CA;
    fill-opacity:0.1;
    @include animation(bulb .3s .3s 5 cubic-bezier(.26,1.17,.89,-0.74) alternate forwards);
  }

  .switch {
    @include transition(transform .3s);
    &:active{
      @include transform(translateY(5px));
    }
  }


  @include keyframes(bulb) {
    to {
      fill-opacity:1;
      fill:#FBF8CA;
    }
  }

  @include keyframes(lamp) {
    5%{ @include transform(rotate(-45deg)) }
    10%{ @include transform(rotate(35deg)) }
    15%{ @include transform(rotate(-35deg)) }
    25%{ @include transform(rotate(15deg)) }
    40%{ @include transform(rotate(-15deg)) }
    65% { @include transform(rotate(3deg)) }
    85% { @include transform(rotate(-1deg)) }
    100%{ @include transform(rotate(0deg)) }
  }

  @include keyframes(drop) {
    0%{ @include transform(translateY(-500px)) }
    100%{ @include transform(translateY(0px)) }
  }


//HEADER TEXT

  .inner {
    $base-border-radius: 3px !default;
    $large-screen: em(860) !default;
    position: absolute;
    top:60%;
    height:12vh;
    padding-left:5%;
    margin-top:-6vh;
    p {
      font-size: 4vh;
      margin: 0 auto;
      font-family: "kulturista-web";
      font-weight:100;
      color: white;
      span {
        font-weight: bold;
        opacity:0;
        @include animation(appear);
        @include animation-delay(1.9s);
        @include animation-fill-mode(forwards);
      }
      @include media($large-screen) {
        font-size:5vh;
      }
    }
  }
}

@include keyframes(appear) {
  0%   { opacity: 0; }
  100% { opacity: 1;
    @include animation-timing-function(steps(1, end));
  }
}


//PICTURE FRAME AND CAROUSEL

.picture {
  width: 90%;
  position: relative;
  z-index:0;
  text-align:center;
  margin: 0 auto;
  margin-top: 5vh;
  padding:10%;
  padding-top:20%;
  display:block;
  img {
    width:15vw;
    height:auto;
    position:absolute;
    top:0;
    right:0;
    left:0;
    z-index:1;
    text-align:center;
    margin: 0 auto;
  }
  .trapezoid {
    width: 88vw;
    opacity: .2;
    position:absolute;
    z-index:0;
    margin: 0 auto;
    text-align:center;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-bottom: 65vw solid #B0BBCE;
    border-left: 40vw solid transparent;
    border-right: 40vw solid transparent;
    transform: rotate(0deg);
  }
  i.prev {
    left:3vw;
    width:5%;
    font-size:8vw;
    display:block;
    top:50%;
    position:absolute;
    color:white;
    cursor:pointer;
    transition: all .4s ease-in-out;
    &:hover {
      transition: all .1s ease;
      transform: translate(-5px, 0);
      margin-right: -5px;
      color:rgba(234, 236, 240, 0.9);
    }
  }
  i.next {
    right:3vw;
    width:5%;
    font-size:8vw;
    top:50%;
    display:block;
    position:absolute;
    color:white;
    cursor:pointer;
    transition: all .4s ease-in-out;
    &:hover {
      transition: all .1s ease;
      transform: translate(5px, 0);
      margin-left: 5px;
      color:rgba(234, 236, 240, 0.9);
    }
  }
  .frame {
    border-top: 8px solid #6D5841;
    border-right: 8px solid #6D5841;
    border-bottom: 8px solid #6D5841;
    border-left: 8px solid #6D5841;
    position:relative;
    width:100%;
    height:auto;
    a {
      width: 100%;
      height:auto;
    }
    #corners {
      width:100%;
      height:auto;
      pointer-events:none;
    }

.screen {
  width:100%;
  background: linear-gradient(149deg, 0,0,128,.8);
  border: 10px solid #fff;
  box-shadow: 1px 1px 1px 1px rgba(189,193,194,0.3) inset;
  .img {
    position:relative;
  }

  img {
    width:100%;
    height:auto;
    position:relative;
  }
  .vid {
    width:100%;
    height:auto;
    position:relative;
    .description {
      display:none;
      h4 {
        font-family: 'Lato', sans-serif;
      }
      p {
        font-family: "kulturista-web";
      }
    }
    video {
      width:100%;
      height:auto;
      &:hover {
        background: linear-gradient(149deg, #d3d4d5 0%,#d3d4d5 50%,#ccc 51%,#ccc 100%);
      }
    }
  }
}
}
}

.media {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.media_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;

}

.media_body {
  background: rgba(255, 255, 255, 1);
  color: black;
  opacity: 0;
  overflow: auto;
  text-align: center;
  transition: 0.6s;
  bottom: 0;
  z-index: 1;
  position: absolute;
  height:100%;
  padding:10%;
  @include transition(0.6s);
  &:hover {
    opacity: 1;
  }
  h2 {
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-size:6vh;
  }
  p {
    /* border: 3px solid #6D5841;
    border-radius:10%; */
    padding:4%;
    font-family: "kulturista-web";
/*     font-weight:100; */
    font-size: 3vh;
    width:60%;
    text-align:center;
    margin:0 auto;
    text-shadow: 5px 6px 5px rgba(1,4,2,0.1);

  span {
      font-weight:bold;
    }
  }
  button {
    @include button(flat #FBF8CA);
    text-align:center;
    margin: 0 auto;
    margin-top: 4%;
    display:block;
    background-color: #2D4369;
    color:white;
    padding: 1%;
    font-family: "Lato", sans-serif;
    font-size:1.1vw;
    border: 3px solid #6D5841;
    border-radius:10%;
    width:10vw;
    text-align:center;
    &:hover {
      background-color:#FBF8CA;
      color:#2D4369;
    }
  }
  a {
/*     margin: 10px; */
    cursor:pointer;
  }
}






.wrapper {
  @include outer-container;
  position:relative;
  margin: 10vh;
  margin-top:0;
  .wrapper2 {
    @include span-columns(12);
    .about {
      @include span-columns(12);
      margin-bottom: 8vh;
      padding:20px;
      background-image:url("brownblock.jpg");
      background-size:cover;
      background-position: center;
      color: white;
      .bio {
        color: white;
        /* .trapezoid2 {
        width: 150px;  height: 0px;
        margin: 0 auto 0 auto;
        margin-left:22%;
        margin-right:60%;
        border-bottom: 200px solid #856B4F;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        transform: rotate(180deg);
        z-index:-1000;
      } */
    }

  }
  .photo {
    @include span-columns(3);
    img {
      width:100%;
      border: 12px solid #EFEFEF;
    }
  }
  .bio {
    @include span-columns(9);
    font-family: "kulturista-web";
    background-size:cover;
    color: #2D4369;
  }


  .work {
    h2 {
      @include span-columns(12);
      font-family: 'Lato', sans-serif;
      color: #6D5841;
    }
    .first {
      @include span-columns(12);
      padding:20px;
      background-color:#2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #FBF8CA;
        article {
          color: #2D4369;
        }

      }
      .photo {
        @include span-columns(5);
        video {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(7);
        font-family: "kulturista-web";
        color:white;
      }
    }
    .second {
      @include span-columns(12);
      padding:20px;
      background-color: #2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #6EA3FF;
        color: white;
      }
      .photo {
        @include span-columns(4);
        img {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(8);
        font-family: "kulturista-web";
        color:white;
      }
    }
    .third {
      @include span-columns(12);
      padding:20px;
      background-color: #2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #6EA3FF;
        color: white;
      }
      .photo {
        @include span-columns(4);
        img {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(8);
        font-family: "kulturista-web";
        color:white;
      }
    }
  }
}
}



//IPHONE 4,5 & 6, Galaxy S5

@media screen
and (min-width:320px)
and (max-width:667px)
and (orientation: portrait) {

  header {
    height:42vh;
    .stalk {
      float:left;
      text-align:center;
      margin-top:10%;
      margin-left: 7%;
      color:white;
      padding:0;
      width:46vw;
      display:inline-block;
      .modal {
        width: 20vw;
        margin:1%;
        label {
          .modal-trigger {
            font-size:3vw;
            width:20vw;
            display:inline-block;
          }
        }
      }
      p {
        font-family: "Lato", sans-serif;
        font-size:1.2vw;
        border:3px solid #6D5841;
        border-radius: 10%;
        display:inline-block;
        padding:4%;
      }

    }

    .inner p {
      font-size: 5.8vw;
    }
    .lamp {
      width:30vw;
      height:20vh;
      margin-left: 0;
    }
  }

.picture {
  width:100%;
  margin-top:2vh;
  img {
    width:20vw;
    height:auto;
    position:absolute;
    top:0;
    right:0;
    left:0;
    z-index:1;
    text-align:center;
    margin: 0 auto;
  }
  .trapezoid {
    width: 98vw;
    opacity: .2;
    position:absolute;
    z-index:0;
    margin: 0 auto;
    text-align:center;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-bottom: 64vw solid #B0BBCE;
    border-left: 40vw solid transparent;
    border-right: 40vw solid transparent;
    transform: rotate(0deg);
  }
}

}


//Landscape
@media screen
and (min-width:320px)
and (max-width:667px)
and (orientation: portrait) {

  header {
    height:42vh;
    .stalk {
      float:left;
      text-align:center;
      margin-top:10%;
      margin-left: 7%;
      color:white;
      padding:0;
      width:46vw;
      display:inline-block;
      .modal {
        width: 20vw;
        margin:1%;
        label {
          .modal-trigger {
            font-size:3vw;
            width:20vw;
            display:inline-block;
          }
        }
      }
      p {
        font-family: "Lato", sans-serif;
        font-size:1.2vw;
        border:3px solid #6D5841;
        border-radius: 10%;
        display:inline-block;
        padding:4%;
      }

    }

    .inner p {
      font-size: 5.8vw;
    }
    .lamp {
      width:30vw;
      height:20vh;
      margin-left: 0;
    }
  }

  .picture {
    width:100%;
    margin-top:2vh;
    img {
      width:20vw;
      height:auto;
      position:absolute;
      top:0;
      right:0;
      left:0;
      z-index:1;
      text-align:center;
      margin: 0 auto;
    }
    .trapezoid {
      width: 98vw;
      opacity: .2;
      position:absolute;
      z-index:0;
      margin: 0 auto;
      text-align:center;
      top:0;
      right:0;
      left:0;
      bottom:0;
      border-bottom: 64vw solid #B0BBCE;
      border-left: 40vw solid transparent;
      border-right: 40vw solid transparent;
      transform: rotate(0deg);
    }
  }


}
