@import "bourbon/bourbon";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Lato);

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -5000;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -5000;
}

.picture {
  width: 90%;
  position: relative;
  z-index:0;
  text-align:center;
  margin: 0 auto;
  margin-top: 5vh;
  padding:10%;
  padding-top:20%;
  img {
    width:15vw;
    height:auto;
    position:absolute;
    top:0;
    right:0;
    left:0;
    z-index:1000;
    text-align:center;
    margin: 0 auto;
  }
  .trapezoid {
    width: 88vw;
    opacity: .2;
    position:absolute;
    z-index:0;
    margin: 0 auto;
    text-align:center;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-bottom: 65vw solid #B0BBCE;
    border-left: 40vw solid transparent;
    border-right: 40vw solid transparent;
    transform: rotate(0deg);
  }
  .frame {
    border-top: 8px solid #6D5841;
    border-right: 8px solid #6D5841;
    border-bottom: 8px solid #6D5841;
    border-left: 8px solid #6D5841;
    box-shadow: 4px 4px 0 0 rgba(189,166,72,0.6);
    position:relative;
    width:100%;
    height:auto;
    img {
      width:100%;
      height:auto;
    }
/*     .arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
  position:absolute;
  z-index: 5;
  transform: rotate(315deg);
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
  position:absolute;
  z-index: 5;
  transform: rotate(225deg);
} */

    .screen {
      width:100%;
      background: linear-gradient(149deg, #d3d4d5 0%,#d3d4d5 50%,#ccc 51%,#ccc 100%);
      border: 10px solid #fff;
      box-shadow: 1px 1px 1px 1px rgba(189,193,194,0.3) inset;
      img {
        width:100%;
        height:auto;
        position:relative;
      }
    }
  }
}
/* .hook {
  width: 4px;
  height: 4px;
  background-color: #5c5c5d;
  margin: 0 auto 15% auto;
  border-radius: 50%;
  box-shadow: 0 1px 0 1px #a49c7c;
  text-align:center;
  &:before {
    content: '';
    width: 60%;
    height: 60%;
    border-top: 2px solid #a49c7c;
    border-left: 2px solid #a49c7c;
    box-shadow: 4px 0 0 4px #FBF8CA;
    position: absolute;
    left: 25%; top: 0%;
    transform: rotate(45deg);
    z-index: -1;
  }
} */

header {
  height: 70vh;
  background-color: #2D4369;
  position:relative;
  body {
    background-color: #4e4e4e;
    margin:0;
    text-align: center;
    font-size: 10px;
  }

  .lamp {
    width: 9%;
    display: inline-block;
    margin-left:20%;
    transform-origin: top center;
    transform:rotate(45deg);
    @include animation(lamp 3s forwards);
  }

  .bulb {
    fill:#FBF8CA;
    fill-opacity:0.1;
    @include animation(bulb .3s .3s 5 cubic-bezier(.26,1.17,.89,-0.74) alternate forwards);
  }


  .switch {
    transition:transform .3s;
    &:active{
      transform:translateY(5px);
    }
  }


  @include keyframes(bulb) {
    to {
      fill-opacity:1;
      fill:#FBF8CA;
    }
  }

  @include keyframes(lamp) {
    5%{ transform:rotate(-45deg) }
    10%{ transform:rotate(35deg) }
    15%{ transform:rotate(-35deg) }
    25%{ transform:rotate(15deg) }
    40%{ transform:rotate(-15deg) }
    65% { transform:rotate(3deg) }
    85% { transform:rotate(-1deg) }
    100%{ transform:rotate(0deg) }
  }

  @include keyframes(drop) {
    0%{ transform:translateY(-500px) }
    100%{ transform:translateY(0px) }
  }


  .navigation-wrapper {
    width:100%;
    .logo {
      float:left;
      border:solid 4px #6D5841;
      font-family: 'Lato', sans-serif;
      padding: 1%;
      width:50px;
      height:50px;
      color: white;
      font-size:12px;
      text-align:center;
      margin-top:1%;
      margin-left:1%;
    }
    ul {
      float: right;
      width:auto;
      padding-left:0;
      li {
        display: inline-block;
        list-style-type:none;
        padding: 2%;
        &:hover {
          background-color:#FBF8CA;
          a {
            color: #2D4369;
          }
        }
        a {
          text-decoration:none;
          font-family: 'Lato', sans-serif;
          font-size:2.5vh;
          color: white;
          letter-spacing:.2em;
        }
      }
    }
  }
  .inner {
    $base-border-radius: 3px !default;
    $large-screen: em(860) !default;
    position: absolute;
    top:60%;
    height:12vh;
    padding-left:5%;
    margin-top:-6vh;
    p {
      font-size: 4vh;
      margin: 0 auto;
      font-family: "kulturista-web";
      font-weight:100;
      color: white;
      span {
        font-weight: bold;
        opacity:0;
        @include animation(appear);
        @include animation-delay(1.9s);
        @include animation-fill-mode(forwards);
      }
      @include media($large-screen) {
        font-size:5vh;
      }
    }
  }
}

@include keyframes(appear) {
  0%   { opacity: 0; }
  100% { opacity: 1;
    @include animation-timing-function(steps(1, end));
    }
}




.wrapper {
  @include outer-container;
  position:relative;
/*     &:before {
content: '';
position: absolute;
z-index:-1;
top: 0;
right: 0;
bottom: 0;
left: 0;
@include linear-gradient(to bottom right,#395585,#395585);
opacity: .5;
  } */
/*   background: -webkit-gradient(linear(rgba(0,0,0,0.5)); */

  margin: 10vh;
  margin-top:0;
  .wrapper2 {
    @include span-columns(12);
  .about {
    @include span-columns(12);
    margin-bottom: 8vh;
    padding:20px;
    background-image:url("brownblock.jpg");
    background-size:cover;
    background-position: center;
    color: white;
      .bio {
        color: white;
        /* .trapezoid2 {
          width: 150px;  height: 0px;
          margin: 0 auto 0 auto;
          margin-left:22%;
          margin-right:60%;
          border-bottom: 200px solid #856B4F;
          border-left: 35px solid transparent;
          border-right: 35px solid transparent;
          transform: rotate(180deg);
          z-index:-1000;
        } */
      }

    }
    .photo {
      @include span-columns(3);
      img {
        width:100%;
        border: 12px solid #EFEFEF;
      }
    }
    .bio {
      @include span-columns(9);
      font-family: "kulturista-web";
      background-size:cover;
      color: #2D4369;
    }


.work {
  h2 {
    @include span-columns(12);
    font-family: 'Lato', sans-serif;
    color: #6D5841;
    }
    .first {
      @include span-columns(12);
      padding:20px;
      background-color:#2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #FBF8CA;
        article {
          color: #2D4369;
        }

      }
      .photo {
        @include span-columns(5);
        video {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(7);
        font-family: "kulturista-web";
        color:white;
      }
    }
    .second {
      @include span-columns(12);
      padding:20px;
      background-color: #2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #6EA3FF;
        color: white;
      }
      .photo {
        @include span-columns(4);
        img {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(8);
        font-family: "kulturista-web";
        color:white;
      }
    }
    .third {
      @include span-columns(12);
      padding:20px;
      background-color: #2D4369;
      margin-bottom:2%;
      &:hover {
        background-color: #6EA3FF;
        color: white;
      }
      .photo {
        @include span-columns(4);
        img {
          width:100%;
          border: 12px solid #EFEFEF;
        }
      }
      article {
        @include span-columns(8);
        font-family: "kulturista-web";
        color:white;
      }
    }
  }
}
}


//FOOTER
// Uncomment this for a sticky footer.
//
// .wrapper-for-content-outside-of-footer {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -4em;
// }

// html, body {
//  height: 100%;
// }

// .wrapper-for-content-outside-of-footer:after {
//   content: "";
//   display: block;
// }

// .footer-2, .wrapper-for-content-outside-of-footer:after {
//   height: 17em;

//   @include media($large-screen) {
//     height: 4em;
//   }
// }

.footer-2 {

  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-accent-color: #2D4369 !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: $base-accent-color;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  }

  ul {
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin-top: 1em;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.prev {
  display:none;
}
